* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --nav_home: #0882fb;
  --buttom_home: #0070df;
  --nav_pag: #4d8d37;
  --button_pag: #32771b;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.05rem; 
  font-weight: 400;
  line-height: 1.5;
  color: #212529; 
  text-align: left; 
  background-color: #fff;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
h4 {
  font-size: 1.2rem;
}
p {
  font-size: 1.05rem;
  line-height: 1.4;
  margin: 10px 0px;
}
a {
  text-decoration: none;
  background-color: transparent;
}


body .container_logo {
  display: flex;
  justify-content: center;
}
body .container_logo .logo {
  width: 200px;
  padding: 4px 0px;
}
.jumbotron {
  padding: 25px;
  text-align: center;
}

/* MENU */
.container_menu {
  width: 100%;
  height: 50px;
  background: var(--nav_pag);
  padding: 0px 18px;
}
.menu {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}
nav {
  height: 100%;
}
nav > ul {
  height: 100%;
  display: flex;
}
nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
  text-transform: uppercase;
}
nav > ul > li {
  margin-left: 18px;
}
nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
  color: #fff;
  font-size: 14px;
  transition: all 300ms ease;
}
nav > ul > li > a:hover {
  transform: scale(1.1);
  background: var(--button_pag);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#selected {
  transform: scale(1.1);
  background-color: var(--button_pag);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* SUBMENU */
nav > ul > li > ul {
  width: 170px;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 300ms ease;
}
nav > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 55px;
}
nav > ul > li > ul::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}
nav > ul > li > ul > li > a {
  display: block;
  color: var(--nav_pag);
  padding: 8px;
  padding-left: 17px;
  /*margin-top: 10px;*/
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}
nav > ul > li > ul > li > a:hover {
  background: var(--button_pag);
  color: #fff;
  padding-left: 20px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*SUBMENU DE SUBMENU*/

nav > ul > li > ul > li > ul {
  width: 150px;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: -3px;
  left: 190px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: all 300ms ease;
}
nav > ul > li > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 0px;
}
nav > ul > li > ul > li > ul::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid white;
  position: absolute;
  top: 12px;
  left: -12px;
}
nav > ul > li > ul > li > ul > li > a {
  display: block;
  color: var(--nav_pag);
  padding: 8px;
  padding-left: 55px;
  /*margin-top: 10px;*/
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}
nav > ul > li > ul > li > ul > li > a:hover {
  background: var(--button_pag);
  color: #fff;
  padding-left: 55px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

main {
  width: 100%;
}
.container_content {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.container_content .title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0px 140px;
}
.container_content .content_definition {
  margin-bottom: 20px;
}
.container_content .content_element {
  padding-bottom: 35px;
  border-bottom: 1px solid #000;
}
.container_content .content_diagrama {
  margin-top: 50px;
  width: 100%;
}
.container_content .content_diagrama h3 {
  margin-bottom: 60px;
}
.container_content .content_diagrama div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}


footer {
  height: 110px;
  background: #4d8d37;
  text-align: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
footer div p {
  font-size: 1.6rem;
  color: #fff;
}